@model List<RegObjStat>

<style>
    table {
        text-align: center;
        border-collapse: separate;
        border-spacing: 0;
    }

    .header {
        position: sticky;
        top: 0;
        background: white;
    }

    .table-wrap {
        height: 70vh;
        overflow-y: auto;
    }
</style>

<h1>Valsts adrešu reģistrā reģistrētie objekti (2011-2022)</h1>

<div class="table-wrap">
    <table class="table table-sm">
        <thead class="header">
            <tr>
                @foreach (var item in ViewBag.keys)
                {
                    <th scope="col" width="1%">@item</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.id</th>
                    <td>@item.Gads</td>
                    <td>@item.Menesis</td>
                    <td>@item.Pilsetas</td>
                    <td>@item.Novadi</td>
                    <td>@item.Pagasti</td>
                    <td>@item.Ciemi</td>
                    <td>@item.Mazciemi</td>
                    <td>@item.Ielas</td>
                    <td>@item.EkasUnZemesVienibas</td>
                    <td>@item.TelpuGrupas</td>
                </tr>
            }
        </tbody>
    </table>
</div>